/*** COLORS ***/

.color-new h1,
.color-new button,
.color-new.tabs,
.color-new {
  background: #323a42 !important;
  color: #fff !important;
  border: 0 !important;
}

/*** TABS ***/

ion-view .tabs {
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
}

ion-view .tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 42px;
    font-size: 42px;
}

@media screen and (max-width: 768px) {

  ion-view .tabs {
    height: 74px;
    line-height: 74px;
    vertical-align: middle;
  }

  ion-view .tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 32px;
    font-size: 32px;
  }

}

/*** CONTENT ***/

ion-content {
  padding: 0;
}

ion-content .item p {
  text-overflow: unset;
  overflow: unset;
  white-space: initial;
}

ion-content .item h1,
ion-content .item h2,
ion-content .item h3,
ion-content .item h4 {
  font-weight: 700;
  text-overflow: unset;
  overflow: unset;
  white-space: initial;
}

ion-content .item a:hover {
  opacity: .8;
}

ion-content .button {
  line-height: 45px;
}

ion-content .button ion-icon {
  margin-bottom: 3px;
  font-size: 20px;
  vertical-align: middle;
}

ion-content .content-wrapper {
  max-width: 768px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

ion-content .scroll.padding {
  padding: 0;
}

ion-content .item {
  margin: 0;
  padding: 0;
  border: 0;
}

ion-content ion-chip a {
  color: #fff;
  text-decoration: none;
}

/*** PHOTO GRID ***/

ion-content .list.list-gallery {
  margin: 0;
  padding: 0;
  -webkit-column-count: 2;
  -moz-column-count:2;
  column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

ion-content .list.list-gallery .item-thumbnail {
  display: block;
  background: #fff;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: unset;
}

ion-content .item-thumbnail img,
ion-content .item-thumbnail video {
  display: block;
}

@media screen and (min-width: 1280px) {

  ion-content .list.list-gallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }

}

@media screen and (max-width: 768px) {

  ion-content .list.list-gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

}

/*** VIDEO GRID ***/

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*** CONTACT ***/

.avatar-wrap {
  position: relative;
  margin: 0;
  padding: 60px 0 0 0;
}

.avatar-wrap::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: calc(50% + 40px);
  z-index: 1;
}

.avatar-wrap::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: url("../img/17.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: calc(50% + 40px);
}

.avatar-wrap ion-avatar {
  position: relative;
}

ion-avatar img {
  z-index: 1;
  position: relative;
}
